/* Charge Status Color Definitions
 * CSS custom properties (variables) for charge status colors
 * These colors are used throughout the charge status display for consistency
 */

:root {
    /* Charging state - Green */
    --charge-status-charging: #66bb6a;
    
    /* Discharging state - Red */
    --charge-status-discharging: #ef5350;
    
    /* Standby state - Grey (also used for battery level bar when in standby) */
    --charge-status-standby: #9e9e9e;
    
    /* Refresh button hover color - Blue */
    --charge-status-refresh-hover: #64b5f6;
}
